// Styling for the navbar
#mainNav {
  .logo {
    width: 215px;
    .a {
      fill: #171717;
    }

    .c {
      fill: #545554;
    }

    .d {
      fill: #fec40e;
    }

    .e {
      fill: none;
      stroke: #171717;
      stroke-miterlimit: 10;
      stroke-width: 1.35px;
    }
  }
  &.navbar-light {
    background-color: #ffffff;
    box-shadow: 0 20px 10px -15px rgba(0, 0, 0, 0.1);
  }
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #f8f9fa;
    border: 0;
    background-color: $primary;
  }
  .navbar-brand {
    color: $primary;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: #000000;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }

  .meetup {
    background: #ffba11;
    border-radius: 50px;
    .icon-meetups {
      padding: 0;
      margin: 0;
      vertical-align: top;
      margin-top: -7px;
      margin-right: 15px;
    }
  }
}
