// Styling for the footer
.footer {
  position: relative;
  padding: 25px 0;
  text-align: center;

  &:before {
    background-image: url(../img/border-beige.svg) !important;
    background: repeat-x;
    content: "";
    height: 16px;
    height: 1rem;
    position: absolute;
    top: calc(-1rem + 1px);
    width: 100%;
    left: 0;
}

  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}
.js-top{
  position: fixed;
  padding: 5px 10px;
  background: #fbc42f;
  bottom: 11px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
  display: none;

  i {
    display: block;
    font-size: 11px;
  }
}